.o_hr_contract_state {
    .o_status {
        vertical-align: unset !important;
    }
}

.o_hr_contract_job_id {
    min-height: 1.5rem;
}

.o_status_bubble {
    &.o_color_bubble_32 {
        background-color: $o-success;
    }
    &.o_color_bubble_31 {
        background-color: $o-info;
    }
    &.o_color_bubble_30{
        background-color: $o-danger;
    }
}
