
.o_background_footer, .o_report_layout_striped {
    color: map-get($grays, '700');
}
.o_background_footer {
    .list-inline-item {
        white-space: nowrap;
    }
    ul {
        border-top: 1px solid $o-default-report-secondary-color;
        border-bottom: 1px solid $o-default-report-secondary-color;
        padding: 4px 0;
        margin: 0 0 4px 0;
        li {
            color: $o-default-report-secondary-color;
        }
    }
}
.o_report_layout_background {
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 620px
}
