
.o_background_footer, .o_background_header, .o_report_layout_striped {
    color: map-get($grays, '700');
}
.o_background_header {
    min-width: 900px;

    .o_company_logo {
        max-height: 96px;
        max-width: 200px;
        margin-right: 16px;
    }
    .o_company_tagline {
        color: $o-default-report-primary-color;
        font-weight: 700;
        max-width: 300px;
    }
}
.o_background_footer {
    .list-inline-item {
        white-space: nowrap;
    }
    ul {
        border-top: 1px solid $o-default-report-secondary-color;
        border-bottom: 1px solid $o-default-report-secondary-color;
        padding: 4px 0;
        margin: 0 0 4px 0;
        li {
            color: $o-default-report-secondary-color;
        }
    }
}
.o_report_layout_background {
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    min-height: 620px
}

/* special case for displaying report in iframe */
.o_in_iframe {
    .o_background_header {
        min-width: 0;
    }
}
