.s_dynamic {
  .dynamic_snippet_template .card-footer a, .dynamic_snippet_template .card-footer button, .o_dynamic_snippet_btn_wrapper {
    z-index: 2;
  }
  .dynamic_snippet_template .card-body .card-text {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .s_dynamic_snippet_arrow_bottom {
    > .carousel-control-prev, .carousel-control-next {
      position: relative;
    }
  }

  &.s_dynamic_snippet_carousel.s_blog_post_big_picture .s_blog_posts_post_cover {
    @include media-breakpoint-up(sm) {
      --aspect-ratio: 50%;
    }
    @include media-breakpoint-up(lg) {
      --aspect-ratio: 100%;
    }
  }
}
