.o_card_avatar {
    img {
        height: 60px;
        aspect-ratio: 1;
        @media screen  and (max-width: 480px) {
            height: 30px;
        }
    }

    .o_card_avatar_im_status {
        bottom: -4px;
        right: -4px;
        border-radius: 2rem;
        background-color: white;
        height: 18px;
        width: 18px;
        @media screen  and (max-width: 480px) {
            height: 13px;
            width: 13px;
            }
    }
}

.o_avatar_card {
    max-width: 380px;
    @media screen  and (max-width: 480px) {
        max-width: 240px;
    }
}
